*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body{
    background-color: #0a0230;
}
main{
    width: 100vw;
    height: 700px;
    background-color: #0a0230;
}

.logo1{
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    cursor: pointer;
    transition: 2s;
}


/* SESSÃO CONVERSOR */
.conversor{
    padding: 0;
    margin-top: -200%;
    margin-right: 15px;
    transition: left 1s linear;
}
     

.section-conversor{
    border-radius: 20px;
    border: 4px solid #3400A5 ;
    display: block;
    background: #F4F4F4;
    height: auto;
    width: 375px;
    margin: 10px auto;
    box-shadow: 2px 5px 5px #3400A5;

}

div{
    padding: 35px 26px 0px;
}

.label-converter{
font-size: 14px;
font-weight: 400;
line-height: 18px;
color: #777777;
}

.label-valor{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #777777;
}

select{
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border-color: #BBBBBB;
    color: #555555;
    font-weight: 700;
    font-size: 16px;
    padding-left: 18px;
    cursor: pointer;
    outline-color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
       -webkit-appearance: none;
        margin: 0;
}

input{
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    padding-left: 15px;
    outline-color: #000000;
}

button{
    width: 100%;
    height: 48px;
    background-color: #67067a;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;

}

button:hover{
    background-color: #530563;
}
button:active{
    background-color: #3400A5;
    color: #FFFFFF;
}


/* SESSÃO RESULTADO */
.section-resultado{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 30px;
    border: 1px solid #772FD3;
    border-radius: 20px;
}

#arrow{
    margin: 0px 140px;
}

.converter-result{
    margin-top: 12px;
    padding: 0;
    margin-bottom: 12px;
    text-align: center;
}


/* DATA E RELÓGIO */
.clock{
    text-align: center;
    padding: 10px;
    color: #555555;
}

.today{
    padding: 0;
    display: inline-block;
    text-align: center;
}
.time{
    display: inline-block;
    padding: 0;
    text-align: center;
}

/* VERSAO MOBILE */
@media screen and (max-width: 660px){

    main{
        width: 100vw;
        height: auto;
    }
    .conversor{
        margin-top: -500%;
    }

    .logo1{
        margin-top: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        cursor: pointer;
        transition: 2s;
    }

    .conversor{
        margin-right: auto;
    }

    input{ 
        touch-action: none; 
    }
    
}